[Unit]
Description=vclient-to-mqtt
Wants=network-online.target
After=network-online.target vcontrold.service

[Service]
Type=simple
ExecStart=/usr/bin/vclient-to-mqtt

[Install]
WantedBy=multi-user.target
