[Unit]
Description=vito-reset
Wants=network-online.target
After=network-online.target vcontrold.service

[Service]
Type=simple
ExecStart=/usr/bin/vito-reset

[Install]
WantedBy=multi-user.target
